body.site-body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #f8fafc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


/* Section layout */
section {
    padding: 20px 20px;
    margin-bottom: 30px;
}
hr {
    border-top: 2px solid #38bdf8;
    width: 80px;
    margin: 20px auto;
}


/* Headings */
h1, h2 {
    color: #38bdf8;
}
h2 {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}


/* Buttons */
.btn {
    border-radius: 50px;
    font-weight: 500;
    padding: 10px 20px;
}



/* Hero Section */
.hero {
    background: linear-gradient(135deg, #1e40af, #2563eb);
    color: white;
    padding: 60px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}
.hero img {
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.hero .btn {
    margin: 10px 10px 0 10px;
    border-radius: 50px;
}
.hero-card {
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    color: white;
    border-radius: 16px;
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
.hero-card-wide {
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    color: white;
    border-radius: 16px;
    width: 100%;
    max-width: 1400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}




/* Cards */
.card {
    background-color: #1e293b;
    border: none;
    border-radius: 12px;
    color: #f8fafc;
    box-shadow: 0 4px 12px rgba(83, 119, 161, 0.87);
}
.card:hover {
    transform: scale(1.02);
}
.card-title {
    color: #38bdf8;
}
.card-subtitle {
    color: #cbd5e1 !important;
}
.card.custom-width {
    max-width: 90%; /* or try 700px, 1000px etc */
}



/* Footer */
footer {
    background: #0f172a;
    color: #94a3b8;
    padding: 40px 15px;
    font-size: 0.9rem;
}
footer a {
    color: #38bdf8;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1e293b;
    color: #f8fafc;
    font-size: 1rem;
}
.footer a {
    color: #38bdf8;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}




